<!doctype html>
<html>
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
	:root {
		--blush:#f21f77;
	}
	body {
		margin:0;
		background:black;
		color:white;
		display:flex;
		justify-content:center;
		flex-direction:column;
		align-items:center;
	} h2 {
		color:var(--blush);
		text-align:center;
		font-family:'Dancing Script', cursive;
		font-size:300%;
	} p {
		width:fit-content;
	} a {
		color:var(--blush);
		font-family:sans-serif;
		font-weight:bold;
	} em {
		font-weight:bold;
		font-family:sans-serif;
	}

	
</style>
</head>
<body>
	<h2>zenafone</h2>
	<p>
	To be used with the <em>Chrome</em> or <em>Mozilla</em> browsers.
	</p>
	<p>

 	For devices with a physical <a href='/keyboard'>keyboard</a>
	</p>
	<p>
	For mobile devices using a <a href='/touchScreen'>touch screen</a>
	</p>
	<p>
	Here are the <a href='/scales'>scales</a>, though  access is through the instrument's "get scales"button. 

	</p>
	<p>
	<a href='/documentation'>documentation</a> 

	</p>

	<p>
	email:
	<a href='mailto: thearchimedeandevelopment@gmail.com'>thearchimedeandevelopment@gmail.com</a><br/>
	twitter: <a href='https://twitter.com/theZenafone'>@theZenafone</a> 
	</p>
</body>
</html>
